body {
    background: rgb(45, 221, 111);
    height: 100vh; /* Altura da tela de visualização */
}

form {
    width: 300px; /* Largura da caixa de formulário */ 
}

input {
    border: none;
}

button {
    
    margin-bottom: 10px; /* Espaço entre botões */
}

