body{
    margin: 0;

}

.form-field {
    margin-bottom: 10px;
}

input, button {
    padding: 10px; /* Espaço inteiror */
    width: -webkit-fill-available ; /* Preenche o espaço disponível */
}

.centralize {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.login {
    background: white;
    border: none; /* Não exibe a borda */
    color: rgb(45, 221, 111);

}

.register {
    background: transparent;
    color: white;
    border: 1px solid white; /* Exibe a borda */
}

.recsenha {
    background: transparent;
    border: none;
    color: white;
}

.error {
    color: white;
    background-color: red;
    display: none;
}

button:active {
    opacity: 0.8; /* Opacidade ao clicar */
}

button[disabled] {
    opacity: 0.7;
}

.loading {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
}

.loading label {
    font-size: 24px;
}