body {
    background: rgb(45, 221, 111);
    display: flex; 
    justify-content: center; /* Centraliza Horizontalmente */
    align-items: center;  /* Centraliza Verticalmente */
    height: 100vh; /* Altura da tela de visualização */
}

form {
    width: 300px;
}

input, button {
    padding: 10px; /* Espaço inteiror */
    width: -webkit-fill-available ; /* Preenche o espaço disponível */
}

button {
    cursor: pointer; /* Mostra o cursor da seta */
    width: -webkit-fill-available ; /* Preenche o espaço disponível */
    margin-bottom: 10px;
}

.form-field {
    margin-bottom: 10px;
}
